<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BicycleRenting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>301424731F265991004ABF54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3014248F1F265991004ABF54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3014249A1F265991004ABF54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
